
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Vidly.Models.Customer

<h1>@Model.Name</h1>
<ul>
    <li>Membership Type: Model.MembershipType.Name</li>
    @if(Model.Birthdate != null) {
        <li>Birthdate: @String.Format("{0:dd/MM/yyyy}", @Model.Birthdate)</li>
    }
</ul>