@{
    ViewBag.Title = "AllMovies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Vidly.ViewModels.RandomMovieViewModel

<h2>All Movies</h2>

@if(Model.Movies.Count == 0) {
    <p>There are no movies available</p>
}

else {
    <ul>
        @for(int i = 0; i < Model.Movies.Count; i++) {
            <li>@Html.ActionLink($"{Model.Movies[i].Name}", "Details", "Movies", new { id = i }, null)</li>
        }
    </ul>
}
