<appSettings>
  <add key="FabebookAppId" value="110226119691803"/>
  <add key="FacebookSecretKey" value="bc5a8164706a6663b6669f1d353e99f6"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>